@model WebProjectExam.Models.ViewModels.ShoeVM

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderedShoes)
        {
            <tr>
                <td>
                    <img src="/Images/@item.uri.uri" style="width:100px ; height:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order.Status)
                </td>
                <td>
                    <a asp-action="EditStatus" asp-route-id="@item.Id"> Edit Status </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function formSubmited() {
        //Form post
        document.forms["ChangeStatus"].submit();
    }
</script>