@model WebProjectExam.Models.ViewModels.ShoeVM

@{
    ViewData["Title"] = "Shoes";
}

<h1>Shoes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Shoes)
        {
            <tr>
                <td>
                    <img src="/Images/@item.uri" style="width:100px ; height:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    <a asp-action="AddToOrder" asp-route-id="@item.Id">Add To Cart</a>
                    <a asp-controller="Comment" asp-action="AllShoeComments" asp-route-id="@item.Id">Comments</a>
                </td>
            </tr>
        }
    </tbody>
</table>


