@model WebProjectExam.Models.ViewModels.ShoeVM

@{
    ViewData["Title"] = "Shoes";
}

<h1>Shoes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Shoes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
            </tr>
        }
    </tbody>
</table>


