@model WebProjectExam.Models.ViewModels.ShoeVM

<div class="text-center">
    <h1>Shoes</h1>
</div>
<p>
    <a  asp-action="Create" class="btn btn-primary mx-3">Add New Shoe</a>
</p>

<table class="table table-striped table-hover table- table-bordered bg-white">

    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Price</th>
            <th>Size</th>
            <th>Colour</th>
            
            <th></th>
        </tr>
    </thead>
    @foreach (var shoe in Model.Shoes)
    {
        <tr>
            
            <td>@Model.Price</td>
            <td>@Model.Size</td>
            <td>@Model.Colour</td>
        
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
    }
</table>

